@using System.ComponentModel.DataAnnotations
@using PeopleOps.Web.Contracts
@implements IDialogContentComponent<PeopleOps.Web.Contracts.ProfileResponse>

<!-- Header -->
<FluentDialogHeader ShowDismiss="true">
    <FluentStack VerticalAlignment="VerticalAlignment.Center">
        <FluentIcon Value="@(new Icons.Regular.Size24.WindowApps())"/>
        <FluentLabel Typo="Typography.PaneHeader">
            @Dialog.Instance.Parameters.Title
        </FluentLabel>
    </FluentStack>
</FluentDialogHeader>

<!-- Body -->
<FluentDialogBody>
    <EditForm EditContext="@_editContext" FormName="complete_profile">
        <DataAnnotationsValidator/>

        <FluentLabel Style="margin-bottom: 16px;">
            Your name must be between 3 and 20 characters long,
            and your age between 1 and 99.
        </FluentLabel>

        <FluentStack Orientation="Orientation.Horizontal"
                     HorizontalAlignment="HorizontalAlignment.Start"
                     VerticalAlignment="VerticalAlignment.Center">
            <FluentTextField Name="first_name"
                             @bind-Value="@Content.FirstName"
                             Label="First Name"
                             Required/>
        </FluentStack>
        <FluentStack Orientation="Orientation.Horizontal"
                     HorizontalAlignment="HorizontalAlignment.Start"
                     VerticalAlignment="VerticalAlignment.Center">
            <FluentTextField Name="last_name"
                             @bind-Value="@Content.LastName"
                             Label="Last Name"
                             Required/>
        </FluentStack>

        <div style="color: var(--error);">
            <FluentValidationSummary/>
        </div>
    </EditForm>
</FluentDialogBody>

<!-- Footer -->
<FluentDialogFooter>
    <FluentButton Appearance="Appearance.Accent"
                  Disabled="@(!_editContext.Validate())"
                  OnClick="@SaveAsync">
        Save
    </FluentButton>
    <FluentButton Appearance="Appearance.Neutral"
                  OnClick="@CancelAsync">
        Cancel
    </FluentButton>
</FluentDialogFooter>

@code
{
    private EditContext _editContext = null!;

    [CascadingParameter] public FluentDialog Dialog { get; set; } = null!;

    [Parameter] public ProfileResponse Content { get; set; } = null!;

    protected override void OnInitialized()
    {
        _editContext = new EditContext(Content);
    }

    private async Task SaveAsync()
    {
        if (_editContext.Validate())
        {
            await Dialog.CloseAsync(Content);
        }
    }

    private async Task CancelAsync()
    {
        await Dialog.CancelAsync();
    }
}
