@using System.Security.Claims
@using PeopleOps.Web.Identity
@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

@code
{
    [CascadingParameter]
    HttpContext HttpContext { get; set; }
    [CascadingParameter]
    private Task<AuthenticationState>? AuthenticationState { get; set; }

    private UserInfo UserInfo
    {
        get
        {
            if (AuthenticationState != null)
            {
                var authState = AuthenticationState.Result;
                var user = authState.User;
                var givenName = user.Claims.FirstOrDefault(c => c.Type == ClaimTypes.GivenName)?.Value?? "User";
                var familyName = user.Claims.FirstOrDefault(c => c.Type == ClaimTypes.Surname)?.Value?? "Name";
                var userInfo = new UserInfo
                {
                    Email = user.Claims.FirstOrDefault(c => c.Type == ClaimTypes.Email)
                        ?.Value,
                    FullName = user.Claims.FirstOrDefault(c => c.Type == "name")
                        ?.Value,
                    AvatarUrl = user.Claims.FirstOrDefault(c => c.Type == "picture")
                            ?.Value?? $"https://ui-avatars.com/api/?name={givenName}+{familyName}&background=random&color=fff&size=128",
                    UserId = user.Claims.FirstOrDefault(c => c.Type == ClaimTypes.NameIdentifier)
                        ?.Value,
                };
                return userInfo;
            }
            var info = new UserInfo
            {
                UserId = null,
                Email = null
            };
            return info;
        }
    }
    
    private void OnButtonHeaderClick()
    {
        NavigationManager.NavigateTo("/account/logout", true);
    }
}
<FluentLayout>
    <FluentHeader>
        PeopleOps
        <FluentSpacer/>
        <AuthorizeView>
            <Authorized>
                <FluentStack HorizontalAlignment="@HorizontalAlignment.End"
                             VerticalAlignment="@VerticalAlignment.Center"
                             Style="height: 48px;  padding-inline-end: 10px; overflow:auto; ">
                    <FluentProfileMenu Image="@UserInfo.AvatarUrl"
                                       Status="@PresenceStatus.Available"
                                       HeaderLabel="Developer"
                                       Initials="AA"
                                       FullName="@UserInfo.FullName"
                                       EMail="@UserInfo.Email"
                                       PopoverStyle="min-width: 330px;" 
                                       FooterLink="http://google.com"
                                       FooterLabel="My Profile"
                                       TopCorner="true"
                                       OnHeaderButtonClick="OnButtonHeaderClick"/>
                </FluentStack>
            </Authorized>
            <NotAuthorized>
                <FluentStack HorizontalAlignment="@HorizontalAlignment.End"
                             VerticalAlignment="@VerticalAlignment.Center"
                             Style="padding-inline-end: 10px; ">
                    <FluentAnchor IconStart="@(new Icons.Regular.Size16.DoorArrowRight())"
                                  Href="/account/login">
                        Sign in
                    </FluentAnchor>
                </FluentStack>
            </NotAuthorized>
        </AuthorizeView>
        <SiteSettings/>
    </FluentHeader>
    <FluentStack Class="main" Orientation="Orientation.Horizontal" Width="100%">
        <AuthorizeView>
            <Authorized>
                <NavMenu/>
            </Authorized>
        </AuthorizeView>
        <FluentBodyContent Class="body-content">
            <div class="content">
                @Body
            </div>
        </FluentBodyContent>
    </FluentStack>
    <FluentFooter>
        <a href="https://www.fluentui-blazor.net" target="_blank">Documentation and demos</a>
        <FluentSpacer/>
        <a href="https://learn.microsoft.com/en-us/aspnet/core/blazor" target="_blank">People Ops</a>
    </FluentFooter>
</FluentLayout>


<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
<FluentDialogProvider @rendermode="InteractiveServer"/>
<FluentToastProvider/>
<FluentTooltipProvider @rendermode="InteractiveServer"/>
<FluentMessageBarProvider/>
<FluentMenuProvider/>